Windows/VisualStudio/.vs/
Windows/VisualStudio/Build-*/
Windows/VisualStudio/ironwail.vcxproj.user
Quake/*.o
Quake/*.d
Quake/*.res
Quake/*.exe
Quake/ironwail
build/
/.vs
/out/
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/x64
/Windows
/Release
/ironwail.vcxproj.user
/ironwail.vcxproj.filters
/ironwail.vcxproj
/ironwail.sln
/ironwail.dir
/Debug
/cmake_install.cmake
/CMakeFiles
/CMakeCache.txt
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
